<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Guess the Sketch</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="cleartype" content="on" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.io" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>

  <body class="front">
    <main id="maincontent">
      <section class="wrapper wrapper-center">
        <!-- Intro component -->
        <div class="intro">
          <div class="intro__container">
            <img class="intro__img" src="/static/imgs/logo.svg" alt="Guess the sketch graphic" />
            <!-- Intro content -->
            <div class="intro__content">
              <p>Vertex AI의 이미지 생성 모델인<br>
                Imagen을 이용한 퀴즈 게임을 플레이해보세요!<br>
                 생성형 AI 퀴즈 게임에 참여할 준비가 되셨나요?</p>
              <a href="/" class="button" id="startGame">Start Game</a>
            </div>
            <!-- Loading state -->
            <div class="loader hidden">
              <img src="/static/imgs/drawing.gif" alt="pencil drawing" />
              <p>상대방을 기다리는 중입니다...</p>
            </div>
          </div>
          <div class="intro__steps">
            <div class="intro__step">
              <span>Step 1</span>
              <p>자신만의 프롬프트로 이미지 생성 AI인 Imagen에게 스케치 생성을 요청하세요. </p>
            </div>
            <div class="intro__step">
              <span>Step 2</span>
              <p>상대방의 스케치를 보고 프롬프트를 맞춰보세요!<br>
                 프롬프트에 개인정보 등의 민감 정보를 포함하지 않도록 주의해주세요.
              </p>
            </div>
          </div>
        </div>
      </section>
      <p class="demo">This is an experimental deployment for demo purposes only</p>
    </main>
    <!-- main script include -->
    <script src="/static/scripts/jquery-3.7.1.min.js"></script>
    <script src="/static/scripts/index.js"></script>
  </body>
</html>
