<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Guess the Sketch</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="cleartype" content="on" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.io" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>

  <body class="front">
    <main id="maincontent">
      <section class="wrapper wrapper-center">
        <!-- Intro component -->
        <div class="intro">
          <div class="intro__container">
            <img class="intro__img" src="/static/imgs/logo.svg" alt="Guess the sketch graphic" />
            <!-- Intro content -->
            <div class="intro__content">
              <p>Play Guess the Sketch!<br>
                Powered by Trillium (6th Generation TPUs), GKE and Vertex AI. Are you ready to play a generative AI quiz game?
              </p>
              <a href="/" class="button" id="startGame">Start Game</a>
            </div>
            <!-- Loading state -->
            <div class="loader hidden">
              <img src="/static/imgs/drawing.gif" alt="pencil drawing" />
              <p>Waiting for the other player...</p>
            </div>
          </div>
          <div class="intro__steps">
            <div class="intro__step">
              <span>Step 1</span>
              <p>Ask the SDXL model served by TPUs running on GKE to generate sketches with your own prompts. </p>
            </div>
            <div class="intro__step">
              <span>Step 2</span>
              <p>Look at the other person's sketch and guess what prompt they entered. </p>
            </div>
            <div class="intro__step">
              <span>Step 3</span>
              <p>Vertex embedding API will calculate the similarity of your answers vs the original prompts and pick the winner! </p>
            </div>
          </div>
        </div>
      </section>
      <p class="demo">This is an experimental deployment for demo purposes only</p>
    </main>
    <!-- main script include -->
    <script src="/static/scripts/jquery-3.7.1.min.js"></script>
    <script src="/static/scripts/index.js"></script>
  </body>
</html>
